.Review{
    background-color: white;
    margin-bottom: 2%;
}
.StarIcon{
    color: rgb(179, 101, 45);
    padding-top: 5px;
}
.StarIconWhite{
    color: rgb(230, 189, 160);
    padding-top: 5px;
}
.h31{
    font-family: 'Alegreya SC', serif;
   
}
.h3{
     
    color: rgb(157, 156, 156);
    margin-top: 0;
    font-size: 14px;
}
 