@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Ubuntu:wght@500&family=Yanone+Kaffeesatz&display=swap');


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App-header {
  
  
  width: 100%;
  align-items: center;
   display: flex;
   flex-direction: row;
  font-size: calc(12px + 2vmin);
  margin: 0;
  position: relative;
  background-color:   rgb(209, 165, 133);
}
.menuWrapper{
  justify-content: right;
}
.menu{
 
  margin-left: 10%;
  text-decoration: none; 
  font-family: 'Alegreya SC', serif;
  color: rgb(254, 251, 247);
  margin-top: 0.5%;
}
.ShoppingBasketIcon{
  
 
  text-decoration: none; 
  font-family: 'Alegreya SC', serif;
  color: rgb(254, 251, 247);
      
  font-size: 14px;
   
  position: absolute;
  top: 1%;
  left: 87%;
  text-align: center;
  font-family: 'Alegreya SC', serif;  
  font-size: 24px;
  z-index: 1;
 
}
.ShoppingBasketIcon:hover{
  background-color: #eacba8;
  border-radius: 8px;
 
}
.welcome{
  display:table-row;
  margin-left: 13%;
  text-decoration: none; 
  font-family: 'Alegreya SC', serif;
  color: rgb(254, 251, 247);
  margin-top: 0.5%;
}
body{
 color:  rgb(84, 44, 15);
 background-color:   rgb(254, 251, 247);
 margin: 0;
}
.logoWrapper{
  margin-top:  0.7%;
  margin-bottom: 0.5%;
}
.logo{
  width: 55px;
  height: 55px; 
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
